footer.footer
  .container
    .about
      h2= siteName
      p Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem and mauris neque quam blog. I want to share my world with you.
    .menu
      h3 Important links
      ul
        //li
          a(href="#")
            i.far.fa-home
            |  Home
        li
          a(href="#")
            i.far.fa-info
            | About
        li
          a(href="#")
            i.far.fa-wrench
            | Terms of Service
        li
          a(href="#")
            i.far.fa-lock
            | Privacy Policy
    .office
      h3 Find your way
      ul
        li
          i.fas.fa-map-marker-alt
          span Kamel Achref AISSAOUI
          p 10010, Aomar Gare
          p Bouira, Algeria
        li
          i.fas.fa-envelope
          | achr3012@gmail.com
        li
          i.fas.fa-phone-alt
          | 0560708090
    .clearfix
  .copy
    p
      | Handcrafted by 
      a(href="https://www.instagram.com/its__achraf/" target="_blank") AcHRaF
      br
      i.far.fa-copyright
      |  TwentyTwentyOne