header.header
  nav
    .container
      .logo
        a(href="index.html")= siteName
      
      div(class="toggle" onclick="addChangeClass(this)")
        .bar1
        .bar2
        .bar3
      .clearfix
    ul#mainMenu
      li
        a(href="#") LINK #1
      li
        a(href="#") LINK 2
      li
        a(href="#") LINK #3
      li
        a(href="#") LINK 4
      li
        a(href="#") LINK #5
  .hero
    .container
      h1= siteName
      p Welcome to the blog of 
        span ACHRAF