section.sidebar
  
  aside.search
    .head
      h2 Search 
        span= siteName
    .content
      .form-group
        input(type="search" placeholder="here...")
        button
          i.fas.fa-search
        .clearfix
  
  aside.author-card
    img(src="images/achraf.jpg")
    .content
      h2 ACHRAF AISSAOUI
      p Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem and mauris neque quam blog. I want to share my world with you.

  aside.connect
    .head
      h2 Stay connected
    .content
      ul
        li.fb
          a(href="#")
            i.fab.fa-facebook-square
            span Facebook
        li.insta
          a(href="#")
            i.fab.fa-instagram-square
            span Instagram
        li.beha
          a(href="#")
            i.fab.fa-behance-square
            span Behance
        li.twit
          a(href="#")
            i.fab.fa-twitter-square
            snap Twitter
        li.git
          a(href="#")
            i.fab.fa-github-square
            snap GitHub
        li.link
          a(href="#")
            i.fab.fa-linkedin
            span LinkedIn
        li.dribb
          a(href="#")
            i.fab.fa-dribbble-square
            span Dribbble
        li.code
          a(href="#")
            i.fab.fa-codepen
            span Codepen
  
  aside.cate
    .head
      h2 Categories
    .content
      ul
        li
          a(href="#")
            i.fas.fa-boot
            |  Fashion
        li
          a(href="#")
            i.fas.fa-burger-soda
            |  Food
        li
          a(href="#")
            i.fas.fa-plane-departure
            |  Travel
        li
          a(href="#")
            i.fas.fa-music
            |  Music
        li
          a(href="#")
            i.fas.fa-tasks
            |  Life style
        li
          a(href="#")
            i.fas.fa-watch-fitness
            |  Fitness
        li
          a(href="#")
            i.fas.fa-futbol
            |  Sports
        li
          a(href="#")
            i.fas.fa-random 
            |  Kach haja
          
  aside.popular
    .head
      h2 Popular posts
    ul
      li
        a(href="post.html")
          .thumb
            img(src="images/workshop.jpg")
          h3 Title heading
          p Some words here
          .clearfix
      li
        a(href="post.html")
          .thumb
            img(src="images/gondol.jpg")
          h3 Another title heading
          p Chwiya klmat in english
          .clearfix
      li
        a(href="post.html")
          .thumb
            img(src="images/skies.jpg")
          h3 Ya kho tiri bark
          p My favorite rapper
          .clearfix

  aside.tags
    .head
      h2 Tags
    .content
      ul
        li Sports
        li Games
        li Travel
        li New York
        li London
        li News
        li Family
        li Love
        li Babe
        li Clothing
        li Nike
        li Adidas

  aside.news
    .head
      h2 Newsletter
    .content
      p Just me, myself and I, exploring the universe of uknownment.
      .form-group
        input(type="email" placeholder="Enter your email address")
        button
          i.far.fa-envelope
          |  Subscribe

