-
  var siteName = "BLOG."
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= siteName
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap")
    link(rel="stylesheet" href="css/fa-all.css")
    link(rel="stylesheet" href="css/index.css")
    
  body

    include templates/header

    main.container
      include templates/index
      include templates/sidebar
      .clearfix
    
    include templates/footer

    script(src="js/script.js")